
.vs/RoofRails/FileContentIndex/05057163-4ee3-4ead-a673-4633d483ae56.vsidx
.vs/RoofRails/FileContentIndex/0a0c5347-a63f-46d8-831d-e84f5a3d24ea.vsidx
.vs/RoofRails/FileContentIndex/0cd0fd0b-9303-4959-ae8d-22aad5269707.vsidx
.vs/RoofRails/FileContentIndex/755d47e0-af88-4f38-85f5-a68e8dc8391f.vsidx
.vs/RoofRails/FileContentIndex/7f9794d2-b943-4f27-a160-89268a2d99d1.vsidx
.vs/RoofRails/FileContentIndex/read.lock
.vs/RoofRails/v17/.suo
.vs/RoofRails/v17/fileList.bin
.vsconfig
Library/AnnotationManager
Library/
Temp/
Logs/
obj/